@page
@{
    ViewData["Title"] = "Home - Minha Aplicação";
}
@model IndexModel
<div class="container mt-4">
    <div class="jumbotron text-center">
        <h1>Bem-vindo ao IFS Perguntas</h1>
        <p class="lead">Explore as perguntas e respostas abaixo.</p>
        <a class="btn btn-primary btn-lg" href="/Perguntas" role="button">Veja as Perguntas</a>
    </div>
</div>
